
<h1>Final Order</h1>
<% if number_of_pizzas > 1 %>
<%= number_of_pizzas %> Pizzas:
<% else %>
Pizza
<% end %>

<% counter = 0 %>
<% pizza_list.split(",").each do |item| %>
      <% if item == "small" || item == "medium" || item == "large" || item == "xlarge"  %>
      <% counter += 1 %>
      <br>
      <%= counter.to_s.concat(": ") %>
      <br>
      <% end %>
      <%= item.concat(" ") %>
<% end %>

<% if address %>
<br><br>Address: <%= address %><br>
<% end %>

<br><br>Total: $<%= total %>.00<br><br>

<input id="buttons" type = "button" value = "Restart Order" onClick = "location.href='/'">
